*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}
.body {
    background-color: #E5E5E5;
}
.backgroundLogin {
    background-color: #824700;
}
.searchInput {
    
    background-color: #CC7200 !important;
    color: white !important;
}
.searchInput::placeholder {
    color: white !important;
}
.porfolioSearch{
    display: inline-block !important;
    width: 80% !important;
}
 
.titleList {
    color: #FFAB40;
    font-weight: 800;

}
.container {
    margin-top: 4rem;
}
.headerBody{
    margin-bottom: 2rem;
}
.row-list{
    text-align:center;
    margin-bottom: 1rem;
    padding: 1rem;
}
.row-body-info {
    text-align: center; 
    background-color: white; 
    color: #824700;
}
.row-header-list{
    color: #824700;
    font-weight: 700;
    text-align: center;

}
.addButton{
    float: right; 
    background-color:#FFAB40 !important;
    color: white !important;
    transition: all 0.6;
}
.addButton:hover{
    background-color:#d88d2a !important;
}
.fa-solid {
    font-size: 1.2rem;
}
.linkButton{
    text-decoration: none;
}
.lupa {
    display: inline-block;
    background-color: #CC7200 !important;
    color: white !important;
    padding: 0.3rem;
    border: white;
}

.lupa:hover {
    background-color: #824700 !important;

}
.fa-square-minus,.fa-pen-to-square,.fa-cart-plus{
    color: #FFAB40;
}

.hidden {
    display: none;
}





 